@import url('https://db.onlinewebfonts.com/c/e89eb1cff9eb261b0d77a4dea27f1ef1?family=Helvetica+W01+Light');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    margin: 0;
}

.flex-1{
    font-weight: 50;
}
.hero-background {
    background-image: url('../assets/homepageimage.jpg'); /* Ensure path is correct */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
}

.content-overlay {
    /* background-color: #1C2E3B ;  */
    width: 94%; /* Width of the main content area */
    margin-top: 20px;
    height: 280vh;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 10; /* Ensures overlay is above the background */
    display: flex;
        background: radial-gradient(circle at center, #1c2a3b 50%, #2a3d52 80%, #3e4b64 100%);
}

.hero-cutout {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.hero-section {
    flex: 1;
}

.cutout {
    width: 750px; /* Customize width */
    height: 750px;  /* Customize height */
    background-image: url('../assets/homepageimage.jpg'); /* Same image for seamless effect */
    background-size: cover;
    background-position: 50% 50%;

}

.fade-in-up-slow {
    opacity: 1;
    transform: translateY(0);
}

.fade-in-up {
    opacity: 1;
    transform: translateY(0);
}
.another-content-layer{
    background-color: #FFFDF9 ; /* Slightly transparent for floating effect */
    width: 94%; /* Width of the main content area */
    margin-top: 20px;
    height: 145vh;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 10; /* Ensures overlay is above the background */
    display: flex;
}

#copyright {
    text-align: right;
}
.footer {
    position: relative;
    width: 99vw; /* Ensure footer spans the entire viewport width */
    background-color: #FFFDF9;
    padding: 1rem;
    font-family: 'Monterchi', serif;
    margin-top: 3rem;

}
.footer-content {

    margin: 0 auto; /* Center content within footer */
    text-align: center;
}

#nameisbig {
    font-size: 5rem;
    margin: 0.5rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 14rem;
    flex-wrap: wrap;
    margin: 1rem 0;
    font-size: 18px;
}

.z-custom{
    z-index: 200;
}

.journey-text {
    position: absolute;
    top: 210%; /* Position below the cutout */
    left: 50%;
    transform: translateX(-50%); /* Center horizontally */
}

.journey-text2{
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.journey-text3{
    text-align: center;
}

.about-content {
    background-color: #CA8263;
    width: 94%;
    margin-top: 20px;
    height: 128vh;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    z-index: 10;
    display: flex;
    background-size: 400% 400%;
    background-image: linear-gradient(
            225deg,
            #e2b571 0%,
            #d3a174 25%,
            #CA8263 50%,
            #ca8263 75%,
            #e2b571 100%
    );
    animation: gradientMove 7s ease infinite;
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.paragraph2{
    position: absolute;
}
.paragraph1{
    transform: translate(0px,40px);
}
.twodmodel{
    transform: translate(500px,0px);
}
.paragraph3{
    transform: translate(0px,100px);
}
.but3d{
    transform: translate(300px,0px);
}
.z-custom{
    z-index: 200;
}
.about-heading{

        animation: float 3s ease-in-out infinite;
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
        100% {
            transform: translateY(0);
        }
    }

